- var buttonGetApp = {className : "button_get-app", imgBefore : "img/button_apple.png", label : "Get App", href : "#"} 
- var buttonVideo = {className : "button_video", imgBefore : "img/play.png", label : "Watch Video", href : "#"} 
- var buttonHack = {className : "button_hack", imgAfter : "img/arrowRight.png", label : "Try to hack us", href : "#"} 
- var buttonLearn = {className : "button_learn", label : "Learn more", href : "#"} 

mixin button(data)
    button.button(class=data.className, onclick="location.href="+data.href)
        if (data.imgBefore)
            img.button__img-before(src=data.imgBefore)
        span.button__label= data.label
        if (data.imgAfter)
            img.button__img-after(src=data.imgAfter)
