- var buttonGetApp = {className : "button_get-app", imgBefore : "img/button_apple.png"} 

mixin button(data)
    button.button(class=data.className)
        if (data.imgBefore != "")
            img.button__img-before(src=data.imgBefore)
        span.button__label= data.label
        if (data.imgAfter != "")
            img.button__img-after(src=data.imgAfter)
