.button {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    border-radius: 21px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.button_get-app {
    background-color: #267df4;
    width: 134px;
    height: 44px;
    border-radius: 21px;
    color: #ffffff;
    padding: 8px 25px 13px 16px;
}

.button_get-app:hover {
    background-color: #267DCD
}

.button__label {
    color: #ffffff;
}

.button_video {
    width: 207px;
    display: block;
    margin: auto;
    background-color: #edf0f2;
    border: 1px solid #dddee1;
    padding: 20px 40px 20px 41px;
    align-items: center;
}

.button_video>.button__label {
    color: #26272d;
}

.button_hack {
    width: 220px;
    background-color: #267df4;
    color: #fff;
    padding: 15px 25px;
    align-items: baseline;
}

.button_learn {
    width: 142px;
    border: 1px solid #dddee1;
    padding: 15px 25px;
    background-color: #fff;
}

.button_learn .button__label {
    color: #26272d;
}

.button_invite{
    width: 166px;
    height: 90%;
    background-color: #77c65e;
    color: #fff;
    padding: 15px 25px;
    align-items: baseline;
}
