.container {
    max-width: 1100px;
    margin: auto;
    padding: 0px 15px;
    position: relative;
}

.container_full-width{
    max-width: 100%;
}

.container_landing{
    max-width: 95%;
    margin: auto;
}

.container_background_top {
    background-image: url("img/background_top.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #f4f4f5;
}

.container_top {
    padding-top: 90px;
}

.container_small {
    max-width: 460px;
}

.container_input-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 504px;
    margin: auto;
    border-radius: 25px;
    border: 1px solid #222328;
}

.container_full.container_gray{
    padding: 70px 0px 100px 0px;
}

.container__input{
    width: 320px;
    background-color: #f5f5f8;
    padding: 18px 25px;
    color: #3a3d4b;
    border: 0px;
    border-radius:100px;
    outline: none;
}

.container_hd {
    max-width: 1336px;
}

.container__img {
    margin: auto;
}

.container__img_iphone {
    background: url("img/iphone.png") no-repeat center / cover;
    width: 369px;
    height: 456px;
    margin-top: 50px;
}

.container__img_iphone2 {
    background: url("img/iphone2.png") no-repeat center / contain;
    width: 55%;
    height: 772px;
}

.container__img_advantage1 {
    width: 42px;
    height: 52px;
    margin: 0px;
    background: url("img/advantage1.png") no-repeat left top / cover;
}

.container__img_advantage2 {
    width: 41px;
    height: 48px;
    margin: 0px;
    background: url("img/advantage2.png") no-repeat left top / cover;
}

.container_tablet {
    max-width: 768px;
}

.container__title {
    color: #26272d;
    font-size: 62px;
    font-weight: 500;
    text-align: center;
    margin: 0px;
    margin-bottom: 42px;
}

.container__line{
    width: 50px;
    height: 2px;
    margin: 40px auto;
}

.container__line_blue{
    background-color: #267df4;
}

.container__title_h2 {
    text-align: left;
    color: #26272d;
    font-size: 42px;
}

.container__title_text_center{
    text-align: center;
}

.container__text {
    color: #8c8f94;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 60px;
    text-align: center;
}

.container__text_small{
    font-size: 12px;
    margin-bottom: 37px;
}

.container_gray{
    background-color: #f5f5f8;
}

.container_advatange {
    max-width: 480px;
    padding: 120px 15px 30px 15px;
}

.container__title_advantage {
    font-size: 26px;
    margin: 45px 0px;
    text-align: left;
}

.container__text_advantage {
    margin-bottom: 0px;
    text-align: left;
}

.container__feedback{
    padding: 100px 15px;
    max-width: 556px;
        margin: auto;
}

.container__user{
    width: 131px !important; /*sorry*/
    height: 131px;
    border-radius: 100px;
    display: block;
    margin: auto;
    margin-bottom: 25px;
}

.container__title_feedback{
    text-align: center;
    font-size: 32px;
}

.container__text_feedback{
    margin-bottom: 25px;
}

.container__raiting{
    display: flex;
    justify-content: space-between;
    width: 155px;
    margin: 0px auto 65px auto;
}

.container__star{
    width: 24px;
    height: 23px;
    background: url("img/star.png") no-repeat center / cover;
}

.container__user-name{
    text-align: center;
    color: #26272d;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

@media (max-width:1030px), (max-device-width:1030px) {
    .container__img_iphone2 {
        width: 80%;
    }
}

@media (max-width:1010px), (max-device-width:1010px) {
    .container_advatange {
        padding: 20px 10px;
    }
    .container__img_iphone2 {
        width: 90%;
        height: 90vw;
    }
}

@media (max-width:560px),(max-device-width:560px) {

    .container_input-wrapper{
        flex-direction: column;
        align-items: center;
        border: none;
        padding: 20px 0px;
    }

    .container__input{
        width: 85%;
        margin-bottom: 25px;
        border: 1px solid #222328;
    }
}

@media (max-width:440px), (max-device-width:440px) {
    .container__img_iphone {
        width: 85%;
        height: 240px;
    }
    .container__title:not(.container__title_advantage) {
        font-size: 46px;
    }
}
