footer.footer
    .footer__left
    
        .footer__logo
        .footer__text It was some time before he obtained any answer, and the reply, when made, was unpropitious.
        .row.row_social
            a(href="#")
                img(src="img/twitter.png", alt="img")
            a(href="#")
                img(src="img/facebook.png", alt="img")
            a(href="#")
                img(src="img/linkedin.png", alt="img")
    
    .footer__right
        .footer__col
            .footer__title Learn more
            +link("How it works?", "#", "footer__item")
            +link("Meeting tools", "#", "footer__item")
            +link("Live striming", "#", "footer__item")
            +link("Contat method", "#", "footer__item")
            
        .footer__col
            .footer__title About us
            +link("About us", "#", "footer__item")
            +link("Features", "#", "footer__item")
            +link("Privacy police", "#", "footer__item")
            +link("Terms & Conditions", "#", "footer__item")
            
        .footer__col
            .footer__title Support
            +link("F.A.Q.", "#", "footer__item")
            +link("Contact us", "#", "footer__item")
            +link("Live chat", "#", "footer__item")
            +link("Phone call", "#", "footer__item")
                
    
