footer.footer
    .footer__left
    
        .footer__logo
        .footer__text
        .row.row_social
            img
    
        .footer__right
            .footer_col
                .footer__submenu-title Learn more
                +link("How it works?", "#", "header__submenu-item")
                +link("Meeting tools", "#", "header__submenu-item")
                +link("Live striming", "#", "header__submenu-item")
                +link("Contat method", "#", "header__submenu-item")
                
            .footer__col
                .footer__submenu-title About us
                +link("About us", "#", "header__submenu-item")
                +link("Features", "#", "header__submenu-item")
                +link("Privacy police", "#", "header__submenu-item")
                +link("Terms & Conditions", "#", "header__submenu-item")
                
            .footer__col
                .footer__submenu-title Support
                +link("F.A.Q.", "#", "header__submenu-item")
                +link("Contact us", "#", "header__submenu-item")
                +link("Live chat", "#", "header__submenu-item")
                +link("Phone call", "#", "header__submenu-item")
                
    
