.footer{
    max-width: 1077px;
    display: flex;
    justify-content: space-between;
    padding: 90px 0px 115px 0px;
    margin: auto;
}

.footer__left{
    width: 253px;
}

.footer__logo{
    width: 142px;
    height: 15px;
    background: url("img/header__logo.png") no-repeat center / contain;
    margin-bottom: 33px;
}



.footer__text{
    color: #8c8f94;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 25px;
}

.footer__right{
    width: 476px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__col{
    display: flex;
    flex-direction: column;
}

.footer__title{
    color: #26272d;
    font-size: 12px;
    font-weight: bold;
    line-height: 22px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.footer__item{
    color: #8c8f94;
    line-height: 25px;
    align-self: flex-start;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 15px;
}

@media (max-width:1175px),(max-device-width:1175px) {
    .footer{
        justify-content: space-around;
    }
}

@media (max-width:768px),(max-device-width:768px) {
    .footer{
        flex-direction: column;
    }

    .footer__left{
        width: 95%;
        margin: auto;
        margin-bottom: 25px;
    }

    .footer__right{
        padding-left: 15px;
        width: 85%;
    }
}

@media (max-width:560px),(max-device-width:560px) {
    .footer{
        padding: 25px 0px;
    }

    .footer__right{
        flex-direction: column;
        align-items: flex-start;
    }

    .footer__col{
        margin-bottom: 15px;
    }
}
