.link {
    display: inline-block;
}

.link_gray {
    opacity: 0.4;
    color: #1b1c1e;
}

.link__label {
    color: #26272d;
    font-size: 16px;
    text-decoration: none;
}

.link__bottom {
    height: 1px;
    background-color: #000;
    width: 0px;
    transition: 0.3s;
}

.link:hover>.link__bottom {
    width: 100%;
}
