@font-face {
    src: url("fonts/Roboto-Regular.ttf");
    font-family: "Roboto";
}

*{
    box-sizing: border-box;
    transition: 0.3s;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
}
