//mixins includes 
include ../blocks/button/button.jade

include ../blocks/header/header.jade
.link
    a(href="http://ya.ru") TEST
    .link__bottom

+button(buttonGetApp)
include ../blocks/footer/footer.jade
