.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.row_advantage{
    padding-bottom: 100px;
}

.row_items_top{
    align-items: flex-start;
}

.row_social{
    max-width: 102px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row_social > a:hover{
    transform: rotate(360deg);
}

.row_buttons{
    margin-top: 75px;
}

@media (max-width:1070px), (max-device-width:1070px) {
    .row_center-reverse{
        justify-content: space-around;
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media (max-width:1010px),(max-device-width:1010px) {
    .row_advantage{
        justify-content: space-around;
        padding-bottom: 30px;
    }
}

@media (max-width:768px),(max-device-width:768px) {
    .row_social{
        max-width: 400px;
    }
}

@media (max-width:560px),(max-device-width:560px) {
    .row_social{
        max-width: 100%;
        justify-content: space-around;
    }
}

@media (max-width:420px),(max-device-width:420px) {
    .row_buttons{
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }

    .row_buttons > .button {
        margin-bottom: 25px;
    }
}
