@font-face {
	src:url("fonts/Roboto-Regular.ttf");
	font-family: "Roboto";
}

*{
	box-sizing:border-box;
	font-family: 'Roboto';
}

body{
    margin: 0px;
    padding: 0px;
}

a{
	color: #26272d;
	font-size: 16px;
	text-decoration: none;
}
